

nav {
    clear: both;
    color: #ffffff;
    background-color: #000000;
    height: 40px;
    text-align: center;
    
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li {
    display: inline;
    margin-right: 40px;
}
nav li a{
     color: #ffffff;
    }
nav li a:hover, nav li a.current {
    color: #878787;
}
nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-decoration: none;
    margin:0 15px;
    font-variant: bold;
    transition: 0.3s;
    vertical-align: middle;
}
body {
    /* background-image: url("home1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(30, 40, 32);

}
.card1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
    text-shadow: 0 0 7px #000000;
    padding-top: 600;
}
.card2{
    background-color: rgb(30, 40, 32);
    color: aliceblue;
    width: 500px;
    padding-top: 25px;
    margin: 5px 30px 0px 25px;
}

.grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.image-wrapper{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-items: center;
}
.image-wrapper img{
    display: block;
    width: 100%;
    height: auto;


}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
    text-shadow: 0 0 7px #000000;
}