nav {
    clear: both;
    color: #ffffff;
    background-color: #000000;
    height: 40px;
    text-align: center;
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li {
    display: inline;
    margin-right: 40px;
}
nav li a{
     color: #ffffff;
    }
nav li a:hover, nav li a.current {
    color: #878787;
}
nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-decoration: none;
    margin:0 15px;
    font-variant: bold;
    transition: 0.3s;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(30, 40, 32);

}
.card1{
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    text-shadow: 0 0 7px #000000;
    padding-top: 10px;
    margin: 10px 10px 10px 10px;
                padding:10px;
                border: 2px double rgb(255, 255, 255);
                border-radius: 10px;
}
